<div class="about">
<!--jumbotron-->
		<div class="jumbotron" id="about">
			<div class="container">
				<h1>About Us</h1>
			</div>
		</div>
		<!--supporting-->
		<div class="supporting">
				<div class="row" id="our-menu">
					<div class="col-md-5">
						
					</div>
					<div class="col-md-7">
						<h1>Our Menu</h1>
						<p>The Menu at San Telmo was carefully made by the Chef and Owner Silvana. She began her cuisine studies in Cordova, Argentina and then traveled around the world picking the best flavors and combinations possible to give   her menu the best food in the area. San Telmo has a huge variety of food and drinks that will make it hard to make a choice. We have carnivore, vegetarian and vegan options to make everyone feel confortable. Please don't forget to give yourself a little pleasure with our delicious homemade desserts.</p>
				</div>
			</div>
			<div class="row" id="our-antiques">
				<div class="col-md-7">
					<h1>Our Antiques</h1>
					<p>San Telmo is full of antiques collected all around the world. We believe every piece of antique has it's own energy and is part of what makes the site unique and with soul. </p>
				</div>
				<div class="col-md-5">
				</div>
			</div>
			<div class="row" id="our-inspiration">
				<div class="col-md-5">
				
				</div>
				<div class="col-md-7">
					<h1>Our Inspiration</h1>
					<p>We get inspired by nature and it's perfect imperfection. The symmetric and asymmetric shapes founded in nature fill our heart with excitement, and our minds with beautiful ideas. </p>
				</div>
			</div>
			<div class="row" id="our-friends">
				<div class="col-md-7">
					<h1>Our Friends</h1>
					<p>Yes, our clients are our beloved friends. We work hard, and with tons of love everyday to improve our site, to re invent ourself, to evolve in order to give our friends a great, new, fresh experience.</p>
				</div>
				<div class="col-md-5">
					
				</div>
			</div>
	</div>
</div>