<!--jumbotron-->
		<div class="jumbotron" id="home">
		</div>

<!--supporting-->
		<div class="supporting">
			<h1>Food Like Home!</h1>
			<p> Try all our plates before you leave.</p>
			<a class="btn btn-default" href="Pages/menu.html" role="button">View Our Menu</a>
		</div>
		<!--feature-->
		<div class="feature-1">
			<div class="container">
			<h1></h1>
		</div>
		</div>
		<div class="feature-2">
			<div class="container">
			<h1></h1>
		</div>
		</div>
		<div class="feature-3">
			<div class="container">
			<h1></h1>
		</div>
		</div>
		<div class="feature-4">
			<div class="container">
			<h1></h1>
		</div>
		</div>