<!--jumbotron-->
		<div class="jumbotron" id="home">
		</div>

<!--supporting-->
		<div class="supporting" id="supporting-home">
			<h1>Food Like Home!</h1>
			<p> Try all our plates before you leave.</p>
			<a class="btn btn-default" href="/menu" role="button">View Our Menu</a>
		</div>
		<!--feature-->
		<div class="feature-1">
			<div class="container">
			<h1></h1>
		</div>
		</div>
		<div class="feature-2">
			<div class="container">
			<h1>Hotel.</h1>
			<p> Private room with a view, air conditioner and love.</p>
			<a class="btn btn-default" id="hotel-btn" href="/hotel" role="button">View Our Rooms</a>
		</div>
		</div>
		<div class="feature-3">
			<div class="container">
			<h1></h1>
		</div>
		</div>